<!DOCTYPE html>
<html ng-app="myApp">
  <base href="/">
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div ng-include src="'layouts/navigation.html'"></div>
    <div class="container" ng-controller="MainController as mainController">
      <div ng-view></div>
    </div>
  </body>
</html>
